# ---- Python ----
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env
.env.*
.pytest_cache/
.mypy_cache/
.coverage*
dist/
build/

# ---- Terraform ----
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
terraform.tfvars
.terraform.lock.hcl
# local secrets
*.auto.tfvars
!.example.*
